<h1>Dear Friend!</h1>

<p>This is a daily report with 5 best changes markets.</p>

<div class="container">
    <h2>World markets</h2>
    <div class="row tbl-head">
        <div class="col-lg-3">Title</div>
        <div class="col-lg-1">Price</div>
        <div class="col-lg-1">Percent Change</div>
    </div>

    {% for market in markets %}
        <div class="row tbl-row">
            <div class="col-lg-3">
                {{ market.getTitle() }}
            </div>
            <div class="col-lg-1">
                {{ market.getPrice() }}
            </div>
            <div class="col-lg-1">
                {{ market.getPercent() }}
            </div>
        </div>
    {% endfor %}
</div>
<p>Sincerely,<br />
    App Team</p>