{% extends 'base.html.twig' %}

{% block body %}

    {{ include('default/nav.html.twig') }}

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to APP</h1>
            <p class="lead">APP with last World markets info</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div id="market-chart" class="col-lg-12 mx-auto">
                <h2>World Markets Chart</h2>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>

    <script>
        var data = {{ data|raw }};
        var densityCanvas = document.getElementById('myChart').getContext('2d');
        var densityData = {
            label: 'World Market',
            data: data.percents,
            backgroundColor: '#007bff'
        };

        var barChart = new Chart(densityCanvas, {
            type: 'horizontalBar',
            data: {
                labels: data.codes,
                datasets: [densityData]
            }
        });
    </script>
{% endblock %}

