{% extends 'base.html.twig' %}

{% block body %}

    {{ include('default/nav.html.twig') }}

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to APP</h1>
            <p class="lead">APP with last World markets info</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <h2>World markets</h2>
            <div class="row tbl-head">
                <div class="col-lg-3">Title</div>
                <div class="col-lg-2">Code</div>
                <div class="col-lg-1">Price</div>
                <div class="col-lg-1">Percent Change</div>
                <div class="col-lg-1">Direction</div>
                <div class="col-lg-1">Open</div>
                <div class="col-lg-1">Hight</div>
                <div class="col-lg-1">Low</div>
                <div class="col-lg-1"></div>
            </div>

            {% for market in markets %}
                <div class="row tbl-row">
                    <div class="col-lg-3">
                        {{ market.getTitle() }}
                    </div>
                    <div class="col-lg-2">
                        {{ market.getCode() }}
                    </div>
                    <div class="col-lg-1">
                        {{ market.getPrice() }}
                    </div>
                    <div class="col-lg-1">
                        {{ market.getPercent() }}
                    </div>
                    <div class="col-lg-1">
                        {% if market.getPercentDirection() == 1 %}
                            <img src="{{ asset('assets/img/up-arrow.svg') }}" width="15">
                        {% elseif market.getPercentDirection() == -1 %}
                            <img src="{{ asset('assets/img/down-arrow.svg') }}" width="15">
                        {% endif %}
                    </div>
                    <div id="idx_open" class="col-lg-1">
                        {{ market.getIdxOpen() }}
                    </div>
                    <div id="idx_hight" class="col-lg-1">
                        {{ market.getIdxHight() }}
                    </div>
                    <div id="idx_low" class="col-lg-1">
                        {{ market.getIdxLow() }}
                    </div>
                    <div class="col-lg-1">
                        <a class="" href="{{ path('idx_update', {'id': market.id}) }}" title="Update Indexes">
                            <img src="{{ asset('assets/img/refresh-page-option.svg') }}" width="20">
                        </a>
                        <a class="" href="{{ path('get_xml', {'id': market.id}) }}" title="Get XML">
                            <img src="{{ asset('assets/img/xml-file-format-symbol.svg') }}" width="20">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}

