{% extends 'base.html.twig' %}

{% block body %}

    {{ include('default/nav.html.twig') }}

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to APP</h1>
            <p class="lead">APP with last World markets info</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div id="report-form" class="col-lg-4 mx-auto report-form">
                <h2>World Markets Report</h2>
                {% if send is defined %}
                    <div id="report_success">Thank you, the report successfully send on your email</div>
                {% else %}
                    <p>Please give us your email and we send you Market report for last 24 hour</p>
                    {{ form_start(form, { 'attr': {'action': '/market/report','class': 'form-group'} }) }}
                        {{ form_errors(form) }}

                        {{ form_row(form.email, { 'attr': {'placeholder': 'email', 'class': 'form-control'} }) }}

                        {{ form_row(form.submit, { 'label': 'Submit', 'class': 'btn-default' }) }}

                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}

